body{
    .queries{
        .Polaris-Card{
           margin: 0;
           .Polaris-Card__Section{
            padding: 15px 30px 5px 30px;
           }
        }
    }
    .myPixel-tab{
        padding: 20px;
        margin-top: 30px;
        .Polaris-DataTable__Cell--verticalAlignTop{
            text-align: left;
            padding: 15px 10px 15px 10px;
        } 
    }
    .queries{
        .Polaris-Stack__Item{
            margin-left: 0 ;
            .Polaris-Stack__Item--fill{
                margin-left: 15px;
            }
        }
    }
}