body{
    
  
    .queries{
        .Polaris-Card{
           margin: 0;
           .Polaris-Card__Section{
            padding: 15px 30px 5px 30px;
           }
        }
    }
    .myPixel-tab{
        padding: 20px;
        margin-top: 30px;
        .Polaris-DataTable__Cell--verticalAlignTop{
            text-align: left
        } 
    }
}